{% extends 'shop/base.html' %}

{% block content %}
    <div class="about">
        <h1 align="center">О нас</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolores eaque earum minima nihil obcaecati temporibus velit veritatis! Incidunt iste reiciendis reprehenderit soluta. Aperiam cumque iste laborum, officia sunt ullam.</span><span>A accusamus accusantium aperiam at aut corporis culpa delectus dolorem doloremque est eum exercitationem hic id inventore itaque nam omnis quasi, quia quis quisquam repellat sequi sit suscipit temporibus unde.</span><span>Architecto aspernatur atque dolore, doloremque enim error est maiores maxime molestiae mollitia natus sequi similique tempore voluptatem, voluptatibus. Aliquam, error iusto labore maiores ratione repudiandae! Asperiores error excepturi non qui?</span><span>Eos molestiae nobis odit porro quasi sapiente. Aliquam cumque deleniti nam sapiente velit? A consectetur deserunt distinctio, id incidunt iusto laborum maxime, modi mollitia nulla quam quod reiciendis tempora veniam.</span></p>
    </div>
{% endblock %}
